<!DOCTYPE html>
<html>
<head>
    <title>Business Website</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='homepage.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <header>

    <div class="row">
        <div class="logo">
        <img src="https://www.logolynx.com/images/logolynx/59/5986196e602d330471ad8e1a2e90d868.png"
        </div>

    <ul class="main-nav">
        <li><a href="homepage"> HOME </a></li>

        <li><a href="about"> ABOUT </a></li>
        <li><a href="contact"> LOCATION </a></li>


    </ul>

    </div>

    <div class="hero">
    <h1>Salon</h1>

    <div class="button">
        <a href="" class="btn btn-one"> Watch Video</a>
        <a href="" class="btn btn-two"> Explore More</a>
    </div>

    </div>

    </header>



</body>
</html>
